

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html, body,section{
   background-attachment: scroll;
   background-color:black;
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
   text-decoration: none;
    /* background-color:#1c1d26; */
   
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

html{
    scroll-behavior: smooth;
}

.container-fluid{
   min-width: 360px;
   
   
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    
  
}

/*barra navegadora*/


.navbar{
    position:fixed;
     padding: 15px 0;
     width: 100%;
    
    
}
.logo {
    
    width: 105px;
    height: 100px; 
    padding-left: 5px;
   
     
}
.menu ul{
    padding-left: 70px; 
}
.navbar .width{
    width: 100%;
    display: flex;
    align-items: center;   
    justify-content: space-between;

        }
 .navbar .menu li{
            padding-left: 70px;
            display: inline-block;
            list-style-type: none;
            
            
            }        
.navbar .menu  li a{

    color:white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    transition: color 0.3 ease;

}



.navbar .menu li a:hover{

    color: crimson;
}

.menu-btn{

    color: white;
    font-size:32px;
    cursor: pointer;
    display:none;
    
}


#banner {
    
    padding-bottom:200px ;    
    height: 80vh;
    min-height: 100vh;
   
   }



/* presentacion */






#banner .home-content{
    display: relative;
    
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #ffffff;
    background-image: url(imagenes/yo3.jpeg);
    animation: animate 2s linear infinite;
    


}


@keyframes animate{
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
}




 
 #banner .descripcion_content p2  {
     display: inline-block;
     margin: 50px 20px;
     padding-top: 250px;
     padding-left: 50px;
     text-align: center;
     color: white;
     font-size: 50px;
     font-weight: 700;
  }

  #banner .descripcion_content  span{
 
   
    font-size: 70px;
    color: #e44c65;
    line-height: 1.5;
 }

 @media (max-width:660px){
    .menu-btn{
        display: none;
        z-index:999;
    }
    .navbar .menu{

        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0px;
        top: 0px;
        background: #111;    
        text-align: center;
        padding-top: 80px;
        margin: 0 auto;
        padding-left: 0;
        z-index:999;
       
    }
    .navbar .menu.active{
    
        left: 0;
        }
    
        .navbar .menu li{
            display: block;
            padding-left: 0;
        }
    
        .navbar .menu li a{
    
            display: inline-block;
            margin: 20px 0;
            font-size:25px;
        }
}

 @media (max-width:660px) and (max-height:1000px){

    /*creacion de la barra del menu*/
    .menu-btn{
        display: block;
        z-index:999;
    }

    /*para poner la x cuando se abre el menu*/
.menu-btn i.active:before{
   content: "\f00d" ;

}

  /* el menos 100% hace que no se vea siempre*/
    .navbar .menu{

        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0px;
        background: #111;    
        text-align: center;
        padding-top: 80px;
        margin: 0 auto;
        padding-left: 0;
        z-index:999;
       
    }
        /*activado*/
    .navbar .menu.active{
    
    left: 0;
    }

    .navbar .menu li{
        display: block;
        padding-left: 0;
    }

    .navbar .menu li a{

        display: inline-block;
        margin: 20px 0;
        font-size:25px;
    }
    
    .logo {
    
         color: white;
        float: left;
        
    }

    .home-content{
    background-size: cover;
    background-image: url(imagenes/yo3.jpeg);
    
    }

    #banner .descripcion_content  p2{
        
        margin: 0;
        padding-top: 60px;
       padding-left: 0;
    
    }
 



}

 
/*seccion de about*/

#about{
  
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    min-height: 100vh;
    background-color: white;
    padding: 100px 0;
    
   }

#about .title-about{
   
    position: relative;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-bottom: 60px;
    padding-bottom: 20px;
   

}

#about .title-about::before{
content: "";
bottom: 0px;
left: 50%;
position: absolute;
width: 330px;
height:3px;
background: black;
transform: translateX(-50%);




}



#about .title-about::after{
    content: "sobre mi";
    bottom: -7px;
    left: 50%;
    padding:20px;
    position: absolute;
    font-size: 20px;
    color: crimson;
    height:3px;
    background: white;
    transform: translateX(-50%);
    
    
    
    }


#about .line{
    content: "hola";
    border-style: none;
    border-top-style: solid;
    border-color: black;
    width: 15%;
    border-width: 5px;
    margin-bottom:60px;
}

#about .about-section{

    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

#about .about-section .colum-left{
    width: 45%;
}

#about .about-section .colum-left img{

    object-fit: cover;
    border-radius: 6px;

}


#about .about-section  .colum-right{

    width: 55%;
}
 

 
 #contacto{
    min-height: 100vh;
    padding: 100px 0;
 }

 #contacto .tittle-contacto{

    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 100px;
 }

#contacto .contact-section{
    position: relative;
    display: inline-block;
}
#contacto .izquierda{
    display: inline-block;
    width: 500px;
    vertical-align: middle;
    color: white;
    margin: 0 auto;
 justify-self:baseline;
}

#contacto .derecha{
    display: inline-block;
    width: 500px;
    vertical-align: middle;
    color: white;

}