@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html,
body {
    background-attachment: scroll;
    background-color: black;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    min-width: 905px;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    min-width: 905px;
    min-height: 1000px;
}

#banner {
    background: black;
   

}

#banner .width{
    max-width:1900;
}

/*barra navegadora*/


#banner  .navbar {
    position: fixed;
    float: right;
    padding: 33px;
    width: 100%;
    transition: all 0.3s ease;
    z-index: 999;



}


.navbar .menu li a:hover {
    
    color: crimson;
}

#banner .navbar.sticky {
   
    background: crimson;

}

.navbar .width {
    max-width: 1700px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.logo {
 
    width: 250px;
    height: 200px;
    padding-left: 5px;


}
.espacio{
    width: 150px;
    height: 15px;
    padding-left: 5px;
}

.menu ul {
    padding-left: 70px;
}



.navbar .menu li {
    padding-left: 70px;
    display: inline-block;
    list-style: none;


}

.navbar .menu li a {

    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500px;
    margin-left: 10px;
    transition: color 0.3 ease;

}





/*icono para cuando se encoje*/
.menu-btn {

    color: white;
    font-size: 32px;
    cursor: pointer;
    display: none;

}



/* presentacion */






#banner .home-content {
    display: relative;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    background-image: url(imagenes/yo3.jpeg);
    background-size: contain;
    background-color: black;
    animation: animate 2s linear infinite;




}


@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}





#banner .descripcion_content p2 {
    display: inline-block;

    padding-top: 250px;

    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 700;
    
}

#banner .descripcion_content span {


    font-size: 70px;
    color: #0f0;
    line-height: 1.5;
}


@media (max-width:825px) {
    .menu-btn {
        display: none;
        z-index: 999;
    }

    .navbar .menu {

        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0px;
        top: 0px;
        background:   rgba(225,225,255,0.02);
        text-align: center;
        padding-top: 80px;
        margin: 0 auto;
        padding-left: 0;
        z-index: 999;

    }

    .navbar .menu.active {

        left: 0;
    }

    .navbar .menu li {
        display: block;
        padding-left: 0;
    }

    .navbar .menu li a {

        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
 

    
}

/*Secciones comun*/
#about, #skills, #proyectos, #contacto{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
    min-height: 1000px;
    padding: 100px 0;

}
#skills, #contacto {
   
    background-color:#111;
    color: white;
}
.property-section {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;

}

.title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

.title::before {
    content: "";
    bottom: 0px;
    left: 50%;
    position: absolute;
    width: 330px;
    height: 3px;
    background: black;
    transform: translateX(-50%);




}



.title::after {
   
    bottom: -7px;
    left: 50%;
    padding: 20px;
    position: absolute;
    font-size: 20px;
    color: crimson;
    height: 3px;
    background: white;
    transform: translateX(-50%);



}



/*seccion de about*/

#about {
    background-color: white;
  
  
}


#about .title::after {
    content: "sobre mi";

}






#about .property-section  .left {
    width: 45%;
}

#about .property-section  .left img {

    object-fit: cover;
    border-radius: 6px;

}


#about .property-section  .right {

    width: 55%;
}

#about .property-section  .right P {
text-align: justify;
}
#about .property-section  .right a{
display: inline-block;
background: crimson;
color: white;
font-size:20px;
font-weight: 500;
padding: 10px 30px;
margin-top: 20px;
border-radius: 6px;
border: 2px solid crimson;
transition: all 0.3s ease;

}

#about .property-section  .right .text{

 font-size: 25px;
 font-weight:600;
 margin-bottom: 10px;

}

#about .property-section  .right .text span{
color:crimson;
}
#about .property-section  .right a:hover{
color: crimson;
background:white;
}
@media (max-width:1110px) {
    
    #about .property-section  .left img{
        height: 100%;
        width:100%;
        padding-right: 30px ;

    }

    #about .property-section  .right p{
        height: 50%;
        width:100%;

    }
    #about .property-section  .colum{
        width: 50%;
    }


}



/* habilidades */


#skills .title::before {

background:white;
}
#skills .title::after {
    content: "Aptitudes";
    background:#111;
  
}

#skills .property-section  .left {
    width: 55%;
}
#skills .property-section  .left .text{

    font-size: 25px;
    font-weight:600;
    margin-bottom: 10px;
    padding-top:50px;
    padding-bottom: 30px;
   
   }
   #skills .property-section  .left .text span{
    color:crimson;
    }
 
   #skills .property-section  .left P {
    text-align: justify;
    }
    #skills .property-section  .right{
        width:45%;
        margin-left:0px;
        padding-left: 50px;
      
        
        

    }
    #skills .property-section  .right li{
    list-style: none;
      margin: 20px 0;
      padding: 0;
        

    }
    #skills .property-section  .right  .bar{
       background: #353b48;
       display:block;
       height: 2px;
       border: 1px solid rgb(0,0,0,0.3);
       border-radius:3px;
       overflow: hidden;
       padding-left:0;
       padding-right:5px;
       padding-bottom:5px;
       box-shadow: 0 0 20px crimson;
  
      }

      #skills .property-section  .right  .bar span{
      
    height: 2px;
    float: left;
    background: crimson;
    }
  
   .java{
    width:90%;
    animation: java 2s linear running;
   
    
    }
    .html{
        width: 60%;
        animation: html 2s linear ;
    }
    .css{
        width: 70%;
        animation: css 2s linear ;
    }
    .javascript{
        width: 55%;
        animation: javascript 2s linear ;
    }
    .rstudio{
        width: 55%;
        animation: rstudio 2s linear ;
    }
    .python{
        width: 60%;
        animation: python 2s linear ;
    }
  
@keyframes java{
    0%{
        width:0%;
    }
    100%{
        width:90%;
    }
    
}
@keyframes html{
    0%{
        width:0%;
    }
    100%{
        width:60%;
    }

}
@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width:70%;
    }

}
@keyframes  javascript{
    
    0%{
        width:0%;
    }
    100%{
        width:55%;
    }

}
@keyframes rstudio{
    0%{
        width:0%;
    }
    100%{
        width:55%;
    }

}
@keyframes python{
    0%{
        width:0%;
    }
    100%{
        width:60%;
    }

}
/*Proyectos*/
/*CARRUSEL CON ENLACES A LA PAGINA DEL PROYECTO*/


    #proyectos .title::after {
        content: "Trabajos";
        padding: 20px;
             
    }
    #proyectos .carousel  .card{
    border-radius: 6px;
    box-shadow: 5px 5px 5px 5px gray;
    padding:25px 35px;
    background:white;
    text-align:center;
    color: black;
    transition: all 0.3s ease;
   
    border:inset;

    }

    #proyectos h2{
        padding-bottom: 20px;
    }
    #proyectos .carousel {
        border: 10px;
        width: 100%;
    }
    #proyectos .carousel  .card:hover{
        background:#222;
        color:#fff;
        border-color: crimson;

    }

  
    #proyectos .property-section{
        
        border:inset ;
        box-shadow: 5px 5px 5px 5px gray;
        margin:0 auto;
        border-radius:10px;
        width:100%;
    }

    #proyectos .carousel  .card .box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    
    }
    #proyectos .carousel  .card:hover .box{
    
        transform: scale(1.15);
        }

    #proyectos .carousel  .card img{
        width:100px;
        height:100px;
        margin:0 auto;
        


    }


    #proyectos .carousel  .card .box .titulo-pro{
     
     margin: 0 auto;
     font-size: 25px;
     font-weight: 500;
    
    
    }
    
    #proyectos .carousel  .card .box .titulo-pro:hover{
     
       color: crimson;
       
       
       }


       .owl-dots{
           text-align: center;
           margin-top: 20px;
       }
       
       .owl-dot{
        height: 13px;
        width: 13px;
        margin: 0 5px;
        outline: none!important;
        border-radius: 50%;
        border: 2px solid crimson!important;
        transition: all 0.3s ease;

       }

       .owl-dot.active{
    width: 35px;
    border-radius: 14px;   
    }
    .owl-dot.active,
    .owl-dot:hover{
        background: crimson!important;
    }
/* Contacto*/


#contacto .title::before {

    background:white;
    }
    #contacto .title::after {
        content: "Encuéntrame en";
        background:#111;
      
    }

    



@media (max-width:995px)  {

    /*creacion de la barra del menu*/
    .menu-btn {
        display: block;
        z-index: 999;
    }



    /*para poner la x cuando se abre el menu*/
    .menu-btn i.active:before {
        content: "\f00d";

    }

    /* el menos 100% hace que no se vea siempre*/
    .navbar .menu {

        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0px;
        background: #111;
        text-align: center;
        padding-top: 80px;
        margin: 0 auto;
        padding-left: 0;
        z-index: 999;

    }

    /*activado*/
    .navbar .menu.active {
        width: inherit;
        left: 0;
    }

    .navbar .menu li {
        display: block;
        padding-left: 0;
    }

    .navbar .menu li a {

        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
   
   

    .home-content {
        background-size: cover;
        background-image: url(imagenes/yo3.jpeg);

    }

    #banner .descripcion_content p2 {

        margin: 0;
        padding-top: 242px;
        padding-left: 0;

    }




}