
     html, body, div,span,h1,h2,h3,strong,p,p1,p2{
        background-color:#1c1d26;
       /* background-image: url("../css/imagenes/cristal.png");*/
        background-position-x: left;
        background-attachment: scroll;
        background-repeat: no-repeat;
         margin: 0;
          padding: 0;
          border: 0;
          font: inherit;
          vertical-align: baseline;
          -webkit-text-size-adjust: none;
          font-size: 100%;
         }
    
         

         #logo {
          height:100px;
          padding-left:20px ;
          color: white;
          float: left;
               }

     


    hr{
         border-style: none;
         border-top-style:dotted;
         border-color:#59405c;
         width: 5%;
         border-width: 5px;
         
    }

    #menu{

      color: white;
   } 
    div{
       display: inline;
    }

    h1{
        
        color:#4b5d67 ;
     }

     p1,p2{
        color:#4b5d67 ;
        
    
     }

     
     .titulo_foto{

   color: white;

     }
     .titulo_intro{

      font-size: 1.5em;
     }
     
     .titulo_descri{
        font-size: 1em;
        color: white;
         
      }
     
     li{
        color:white ;
        float: right;
        list-style: none;
        padding:10px;

     }
     .boton_rojo{
        background-color:#e44c65;
        box-shadow: none;
     }
     a{
        text-decoration: none;
        color: white;
     }


     td{
        color:#4b5d67 ;

     }
     th{
        color:#4b5d67 ;
     }
   


    


     /*********para la pagina cv***********/

     .cv{
        height:  50%;
        width: 90%;

     }
    .intro_cv{
        font-style: italic;
        font-size: 50px;

    }

    .img_cv{
      margin: 0;
      height: 30px;
      width: 30px; 
      border: black;
      border-block-color: black;
      padding-top: 0;
   }


    .encabezado_division{
         padding-top: 0;


    }

   
   
    .cv{
      border: black;
      border-block-color: black;
      margin: 0;
      padding: 0;
      

      
     
   
   }

   
  

#banner {
   box-shadow: 0 0.125em 0.1em 0 rgba(0, 0, 0, 0.25);
   min-height: calc(100vh - 44px);
   background-position: center center;
   /* border:solid white;*/
   
 
}

#banner .content{
   
   position: relative;
   top: 400px;
   left: 100px;
  /* border:solid white;*/
   
   display: inline-block;
   margin-right: 1%;
   background-position: center center;
   max-width: 95%;
   text-align: right;
   vertical-align: middle;
   z-index: 1;
}


/*#banner .titulo_descri{
   float: left;
   
}*/

#banner .content .descripcion_content{

display: inline-block;
}


#banner .content .img{
   
   /* border:solid white;*/
   
   background-position: center center;
   object-position: center;
   display: inline-block;
   height: 200px;
   vertical-align: middle;
   width: 220px;
   
}

.titulo_foto{
display: inline-block;
   font-size: 20px;
   color: white;
}





#proyectos{
   top: 50px;
   position: relative;
  

   
}

#proyectos .primer_cuadro{
   border: solid black;
   box-shadow: inset;
display: inline-block;

}

#proyectos  .descripcion_primera {
   
   display: inline-block;
   
   font-size: 20px;
   color: white;
   }
   #proyectos .primer_cuadro .imagen_primer_cuad{
      
      display: inline;
      vertical-align: middle;

   }

#proyectos .segundo_cuadro{
   border: solid black;
   display: inline-block;
   
   font-size: 20px;
   vertical-align: middle;
}
#proyectos .segundo_cuadro .imagen_segundo_cuad{
   
   display: inline;
   vertical-align: middle;

}

#proyectos .tercer_cuadro{
   border: solid black;
   display: inline-block;
   
   font-size: 20px;
   vertical-align: middle;
  
   
}
#proyectos .tercer_cuadro .imagen_tercer_cuad{
   
   display: inline;
   vertical-align: middle;
   

}

#habilidades{

   box-shadow: 0 0.125em 0 0 rgba(0, 0, 0, 0.25);
      min-height: calc(100vh - 44px);
      margin-top: 350px;
      margin-left: 65px;
      display: block;
   
   }




 /*para la zona de redes sociales*/
 .redes{
   color:#4b5d67 ;
   font-style: italic;
   font-size: 50px;
   
}


    .enlace_redes:hover img.social{
       background-color: #4b5d67;
       display: inherit;
       
       
    }

.social{
 height: 100px;
 width: 100px;
}






    