
    body{
        background-color:#322f3d;
       /* background-image: url("../css/imagenes/cristal.png");*/
        background-position-x: left;
        background-attachment: scroll;
        background-repeat: no-repeat;
       
    }

    hr{
         border-style: none;
         border-top-style:dotted;
         border-color:#59405c;
         width: 5%;
         border-width: 5px;
         
    }

    h1{
        
        color:#4b5d67 ;
     }

     p,p1,p2{
        color:#4b5d67 ;
        
    
     }

     .descripcion_yeri{
         color:#4b5d67;
         font-optical-sizing:auto ;
         font-style: italic;
     }
     .intro_yeri{
      position: static;
      
     }

     li{
        color:#4b5d67 ;
     }

     td{
        color:#4b5d67 ;

     }
     th{
        color:#4b5d67 ;
     }
   
     .redes{
        color:#4b5d67 ;
        font-style: italic;
        font-size: 50px;
        
     }
     

         .enlace_redes:hover img.social{
            background-color: #4b5d67;
            display: inherit;
            
            
         }
     
    .social{
      height: 100px;
      width: 100px;
    }

     /*********para la pagina cv***********/

     .cv{
        height:  50%;
        width: 90%;

     }
    .intro_cv{
        font-style: italic;
        font-size: 50px;

    }
    